[Unit]
Description=pirc bot
#Requires=network.socket
After=network.target

[Service]
PIDFile=/run/pircbot.pid
Group=www-data
WorkingDirectory=/project/directory
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/gunicorn --timeout 10 --workers 1 --pid /run/pircbot.pid --bind unix:/run/pirc$
ExecReload=/bin/kill -s HUP $MAINPID 
ExecStop=/bin/kill -s TERM $MAINPID 

[Install]
WantedBy=multi-user.target
