<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}#big_rennes awesome stats{% endblock %}</title>
        
    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/styles.css') }}">
    {# Vis.js #}
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='dist/vis.min.css') }}">
    <style>
        #toTop{
            position: fixed;
            bottom: 95px;
            right: 40px;
            cursor: pointer;
        }
        #toTop .fa {margin-right: 5px;}

        #bar_day {
            height: 400px;
        }
        
        #mynetwork {
            border: 1px solid rgba(100,100,100,0.5);
        }
        /* config panel */
        .vis-config-rangeinput {
            display: none;
        }
        div.vis-configuration.vis-config-item.vis-config-s2 {
            background-color: transparent;
        }
        div.vis-configuration.vis-config-item.vis-config-s3 {
            background-color: transparent;
        }
    
    
    </style>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div id="header" class="page-header">
        <div class="container">
        <h1>{{ self.title() }}</h1>
        </div>
    </div>
    {% endblock %}
    
    <div class="container">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li><a href="#">Bar plots</a></li>
            <li><a href="#line_week">Messages during weeks</a></li>
            <li><a href="#line_day">Messages during days</a></li>
            <li><a href="#data_average">Number of messages per day during current week</a></li>
            <li><a href="#mynetwork">Graph of relationships</a></li>
        </ul>
    </div>

    <br>
    <a href="#" id="toTop" class="btn btn-primary">Back to Top</a>
    
    <div class="container">
        <div id="content">
            <div class="row">
                <div class="col-sm-4">
                    <canvas id="bar_day" height="400"></canvas>
                    <span></span>
                </div>
                <div class="col-sm-4">
                    <canvas id="bar_prev_day" height="400"></canvas>
                    <span></span>
                </div>
                <div class="col-sm-4">
                    <canvas id="bar_week" height="400"></canvas>
                    <span></span>
                </div>
            </div>
            
            <div class="row">
                <canvas id="line_week" height="440"></canvas>
                <span></span>
            </div>
            
            <div class="row">
                <canvas id="line_day" height="440"></canvas>
                <span></span>
            </div>
            
            <div class="row">
                <div id="data_average" class="col-sm-10"></div>
                <div id="sliders" class="col-sm-2">
                    <table>
                        <tr>
                            <td>Alpha Angle</td>
                            <td><input id="alpha" type="range" min="0" max="90" value="15"/> <span id="alpha-value" class="value"></span></td>
                        </tr>
                        <tr>
                            <td>Beta Angle</td>
                            <td><input id="beta" type="range" min="0" max="90" value="15"/> <span id="beta-value" class="value"></span></td>
                        </tr>
                        <tr>
                            <td>Depth</td>
                            <td><input id="depth" type="range" min="20" max="100" value="50"/> <span id="depth-value" class="value"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div id="mynetwork" class="col-sm-8"></div>
                <span>Graph of relationships between posters</span>
                <button id="mynetwork_reset" class="btn btn-primary">Reset data/stabilize</button>
                <button class="btn btn-primary" data-toggle="collapse" data-target="#config">Control panel</button>
                <div id="config" class="collapse col-sm-4"></div>
            </div>
        
        </div>
        
        <footer class="container-fluid text-center">
            <div class="text-info">Web site revised, expanded and maintained by Lex © 2016</div>
            <a href="http://validator.w3.org/check/referer" target="_blank" rel="nofollow">Validation HTML 5</a>
        </footer>
    </div>

    {% block javascript %} 
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/jquery-2.0.0.min.js') }}"></script>
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/highcharts.js') }}"></script>
    {# Highcharts #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/highcharts-3d.js') }}"></script>
        {# Theme #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/themes/sand-signika.js') }}"></script>
        {# Export menu #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/modules/exporting.js') }}"></script>
    {# Vis.js #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='dist/vis.min.js') }}"></script>
    <script>
    $(document).ready(function(){
        // Chart.js graphics //////////////////////////////////////////////////
        var bar_day_data = {
            labels : [ {% for label in data_bar_day[0] %} "{{ label }}", {% endfor %} ],
            datasets : [
                {       
                    label: "Wankers of the day",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                        data : [ {% for value in data_bar_day[1] %} {{ value }}, {% endfor %} ]
                }
            ]
        }
        
        var bar_prev_day_data = {
            labels : [ {% for label in data_bar_prev_day[0] %} "{{ label }}", {% endfor %} ],
            datasets : [
                {       
                    label: "Wankers of the previous day",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                        data : [ {% for value in data_bar_prev_day[1] %} {{ value }}, {% endfor %} ]
                }
            ]
        }
        
        var bar_week_data = {
            labels : [ {% for label in data_bar_week[0] %} "{{ label }}", {% endfor %} ],
            datasets : [
                {       
                        label: "Wankers of the week",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                    data : [ {% for value in data_bar_week[1] %} {{ value }}, {% endfor %} ]
                }
            ]
        }
        
        var line_week_data = {
            labels: [ {% for label in data_line_week[0] %} "{{ label }}h", {% endfor %} ],
            datasets: [
                {
                    label: "Messages by hours during the current week",
                    fillColor: "rgba(251,51,0,0.2)",
                    strokeColor: "rgba(251,51,0,1)",
                    pointColor: "rgba(251,51,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(251,51,0,1)",
                    data: [ {% for value in data_line_week[1] %} {{ value }}, {% endfor %} ]
                },
                {
                    label: "Messages by hours during the previous week",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [ {% for value in data_line_prev_week[1] %} {{ value }}, {% endfor %} ]
                }
            ]
        };
        
        var line_day_data = {
            labels: [ {% for label in data_line_week[0] %} "{{ label }}h", {% endfor %} ],
            datasets: [
                {
                    label: "Messages by hours during the current day",
                    fillColor: "rgba(251,51,0,0.2)",
                    strokeColor: "rgba(251,51,0,1)",
                    pointColor: "rgba(251,51,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(251,51,0,1)",
                    data: [ {% for value in data_line_day[1] %} {{ value }}, {% endfor %} ]
                },
                {
                    label: "Messages by hours during the previous day",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [ {% for value in data_line_prev_day[1] %} {{ value }}, {% endfor %} ]
                }
            ]
        };

        // Chart.js config
        var options = {
            maintainAspectRatio: false,
            responsive: true
        };
        
        // TODO: Verify this position...
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.maintainAspectRatio = false;

        // Get the context of the canvas element we want to select
        var bar_day_ctx = document.getElementById("bar_day").getContext("2d");
        var bar_prev_day_ctx = document.getElementById("bar_prev_day").getContext("2d");
        var bar_week_ctx = document.getElementById("bar_week").getContext("2d");
        var line_week_ctx = document.getElementById("line_week").getContext("2d");
        var line_day_ctx = document.getElementById("line_day").getContext("2d");
        // This will get the first returned node in the jQuery collection.
        
        var bar_day = new Chart(bar_day_ctx).Bar(bar_day_data, options);
        var bar_prev_day = new Chart(bar_prev_day_ctx).Bar(bar_prev_day_data, options);
        var bar_week = new Chart(bar_week_ctx).Bar(bar_week_data, options);
        var line_week = new Chart(line_week_ctx).Line(line_week_data, options);
        var line_day = new Chart(line_day_ctx).Line(line_day_data, options);
        
        
        $("#bar_day + span").html(bar_day.generateLegend());
        $("#bar_prev_day + span").html(bar_prev_day.generateLegend());
        $("#bar_week + span").html(bar_week.generateLegend());
        $("#line_week + span").html(line_week.generateLegend());
        $("#line_day + span").html(line_day.generateLegend());
        
        // Highchats.js ///////////////////////////////////////////////////////
        // API: http://api.highcharts.com/highcharts
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'data_average', // Id of container to fill in
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 25,
                    depth: 70,
                    viewDistance: 25,
                    /*zoomType: 'x',
                    panning: true,
                    panKey: 'shift' // Activate zoom*/
                }
            },
            title: {
                text: 'Average of messages per days during the full period of logging'
            },
            subtitle: {
                text: 'Notice : nothing at all'
            },
            plotOptions: {
                column: {
                    depth: 25
                }
            },
            xAxis: {
                categories: [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                //Highcharts.getOptions().lang.weekdays
            },
            yAxis: {
                title: {
                    text: "Number of messages"
                }
            },
            series: [{
                name: 'Days',
                data: [ {% for value in data_average %} {{ value }}, {% endfor %}
                ]
            }]
        });
        
        // Config panel with sliders
        // Display values
        function showValues() {
            $('#alpha-value').html(chart.options.chart.options3d.alpha);
            $('#beta-value').html(chart.options.chart.options3d.beta);
            $('#depth-value').html(chart.options.chart.options3d.depth);
        }

        // Activate the sliders
        $('#sliders input').on('input change', function () {
            chart.options.chart.options3d[this.id] = this.value;
            showValues();
            chart.redraw(false);
        });
        
        // Display current values
        showValues();
        
        
        // Vis.js /////////////////////////////////////////////////////////////
        // Vis DOC : http://visjs.org/docs/network/
        
        {% if use_networkx %}
        // Load DOTString from networkx
        // http://visjs.org/docs/network/#importing_data
        var parsedData = vis.network.convertDot('{{ data_graph | safe }}');
        var graph_data = {
            nodes: parsedData.nodes,
            edges: parsedData.edges
        };
        {% else %}
        // Load data manually generated
        var graph_data = {
            nodes: [ {% for value in data_nodes %} {{ value | safe }}, {% endfor %} ],
            edges: [ {% for value in data_edges %} {{ value | safe }}, {% endfor %} ]
        };
        {% endif %}

        var options = {
            height: '600px',
            nodes: {
                shape: 'dot',
            },
            // Config panel
            configure: {
                filter:function (option, path) {
                    if (path.indexOf('physics') !== -1) {
                    return true;
                    }
                    if (path.indexOf('smooth') !== -1 || option === 'smooth') {
                    return true;
                    }
                    return false;
                },
                container: document.getElementById('config')
            }
        };
        // Instantiate our network object.
        var network = new vis.Network(document.getElementById('mynetwork'), graph_data, options);
        // SetData button / reset / restabilize
        $('#mynetwork_reset').click(function () {
            console.log('test');
            // Reload DOTString
            network.setData(graph_data);
            // Reduce forces
            network.stabilize();
        });

        
        


    });
    </script>
    {% endblock %}

</body>
</html> 
