<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}#big_rennes stats{% endblock %}</title>
        
    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ nginx_prefix }}{{ url_for('static', filename='css/styles.css') }}">
    <style>
        #bar_day {
            height: 400px;
        }
    
    
    </style>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div id="header" class="page-header">
        <div class="container">
        <h1>{{ self.title() }}</h1>
        </div>
    </div>
    {% endblock %}

    <div class="container">
        <div id="content">
            <div class="row">

                <div class="col-sm-4">
                    <canvas id="bar_day" height="400"></canvas>
                    <span></span>
                </div>
                <div class="col-sm-4">
                    <canvas id="bar_prev_day" height="400"></canvas>
                    <span></span>
                </div>
                <div class="col-sm-4">
                    <canvas id="bar_week" height="400"></canvas>
                    <span></span>
                </div>

            </div>
            <div class="row">
                    <canvas id="line_week" height="440"></canvas>
                    <span></span>
            </div>
            <div class="row">
                    <canvas id="line_day" height="440"></canvas>
                    <span></span>
            </div>
            <div class="row">
                <div id="data_average"></div>
                <div id="sliders">
                    <table>
                        <tr>
                            <td>Alpha Angle</td>
                            <td><input id="alpha" type="range" min="0" max="45" value="15"/> <span id="alpha-value" class="value"></span></td>
                        </tr>
                        <tr>
                            <td>Beta Angle</td>
                            <td><input id="beta" type="range" min="0" max="45" value="15"/> <span id="beta-value" class="value"></span></td>
                        </tr>
                        <tr>
                            <td>Depth</td>
                            <td><input id="depth" type="range" min="20" max="100" value="50"/> <span id="depth-value" class="value"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        
        </div>
        
        <footer class="container-fluid text-center">
            <div class="text-info">Web site revised, expanded and maintained by Lex © 2016</div>
            <a href="http://validator.w3.org/check/referer" target="_blank" rel="nofollow">Validation HTML 5</a>
        </footer>
    </div>

    {% block javascript %} 
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/jquery-2.0.0.min.js') }}"></script>
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/highcharts.js') }}"></script>
    {# // Highcharts #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/highcharts-3d.js') }}"></script>
    {# // Theme #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/themes/sand-signika.js') }}"></script>
    {# // Export menu #}
    <script src="{{ nginx_prefix }}{{ url_for('static', filename='js/modules/exporting.js') }}"></script>
    <script>
    $(document).ready(function(){
    
        var bar_day_data = {
            labels : [
                            {% for label in data_bar_day[0] %} "{{ label }}", {% endfor %}
                     ],
            datasets : [
                {       
                    label: "Wankers of the day",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                        data : [
                                    {% for value in data_bar_day[1] %} {{ value }}, {% endfor %}
                               ]
                }
            ]
        }
        
        var bar_prev_day_data = {
            labels : [
                            {% for label in data_bar_prev_day[0] %} "{{ label }}", {% endfor %}
                     ],
            datasets : [
                {       
                    label: "Wankers of the previous day",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                        data : [
                                    {% for value in data_bar_prev_day[1] %} {{ value }}, {% endfor %}
                               ]
                }
            ]
        }
        
        var bar_week_data = {
            labels : [
                            {% for label in data_bar_week[0] %} "{{ label }}", {% endfor %}
                     ],
            datasets : [
                {       
                        label: "Wankers of the week",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                    data : [
                                {% for value in data_bar_week[1] %} {{ value }}, {% endfor %}
                           ]
                }
            ]
        }
        
        var line_week_data = {
            labels: [
                        {% for label in data_line_week[0] %} "{{ label }}h", {% endfor %}
                    ],
            datasets: [
                {
                    label: "Messages by hours during the current week",
                    fillColor: "rgba(251,51,0,0.2)",
                    strokeColor: "rgba(251,51,0,1)",
                    pointColor: "rgba(251,51,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(251,51,0,1)",
                    data: [
                                {% for value in data_line_week[1] %} {{ value }}, {% endfor %}
                          ]
                },
                {
                    label: "Messages by hours during the previous week",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [
                                {% for value in data_line_prev_week[1] %} {{ value }}, {% endfor %}
                          ]
                }
            ]
        };
        
        var line_day_data = {
            labels: [
                        {% for label in data_line_week[0] %} "{{ label }}h", {% endfor %}
                    ],
            datasets: [
                {
                    label: "Messages by hours during the current day",
                    fillColor: "rgba(251,51,0,0.2)",
                    strokeColor: "rgba(251,51,0,1)",
                    pointColor: "rgba(251,51,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(251,51,0,1)",
                    data: [
                                {% for value in data_line_day[1] %} {{ value }}, {% endfor %}
                          ]
                },
                {
                    label: "Messages by hours during the previous day",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [
                                {% for value in data_line_prev_day[1] %} {{ value }}, {% endfor %}
                          ]
                }
            ]
        };

        var options = {
            maintainAspectRatio: false,
            responsive: true
        };
        
        // TODO: Verify this position...
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.maintainAspectRatio = false;

        // Get the context of the canvas element we want to select
        var bar_day_ctx = document.getElementById("bar_day").getContext("2d");
        var bar_prev_day_ctx = document.getElementById("bar_prev_day").getContext("2d");
        var bar_week_ctx = document.getElementById("bar_week").getContext("2d");
        var line_week_ctx = document.getElementById("line_week").getContext("2d");
        var line_day_ctx = document.getElementById("line_day").getContext("2d");
        // This will get the first returned node in the jQuery collection.
        
        var bar_day = new Chart(bar_day_ctx).Bar(bar_day_data, options);
        var bar_prev_day = new Chart(bar_prev_day_ctx).Bar(bar_prev_day_data, options);
        var bar_week = new Chart(bar_week_ctx).Bar(bar_week_data, options);
        var line_week = new Chart(line_week_ctx).Line(line_week_data, options);
        var line_day = new Chart(line_day_ctx).Line(line_day_data, options);
        
        
        $("#bar_day + span").html(bar_day.generateLegend());
        $("#bar_prev_day + span").html(bar_prev_day.generateLegend());
        $("#bar_week + span").html(bar_week.generateLegend());
        $("#line_week + span").html(line_week.generateLegend());
        $("#line_day + span").html(line_day.generateLegend());
        
        ////////////////////////////////////////////////////////////////////////////////////////
        // API: http://api.highcharts.com/highcharts
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'data_average', // Id of container to fill in
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 25,
                    depth: 70,
                    viewDistance: 25,
                    zoomType: 'x',
                    panning: true,
                    panKey: 'shift' // Activate zoom
                }
            },
            title: {
                text: 'Average of messages per days during the full period of logging'
            },
            subtitle: {
                text: 'Notice : nothing at all'
            },
            plotOptions: {
                column: {
                    depth: 25
                }
            },
            xAxis: {
                categories: Highcharts.getOptions().lang.weekdays
            },
            yAxis: {
                title: {
                    text: "Number of messages"
                }
            },
            series: [{
                name: 'Days',
                data: [ {% for value in data_average %} {{ value }}, {% endfor %}
                ]
            }]
        });
        
        function showValues() {
            $('#alpha-value').html(chart.options.chart.options3d.alpha);
            $('#beta-value').html(chart.options.chart.options3d.beta);
            $('#depth-value').html(chart.options.chart.options3d.depth);
        }

        // Activate the sliders
        $('#sliders input').on('input change', function () {
            chart.options.chart.options3d[this.id] = this.value;
            showValues();
            chart.redraw(false);
        });

        showValues();

    });
    </script>
    {% endblock %}

</body>
</html> 
